@media screen and (max-width: 1250px) {
    .callback {
        font-size: 12px;
    }
    .callback_image img {
    max-width: 100px;
    }
    .callback p {
    padding: 4px;
    }          
}

@media screen and (max-width: 1150px) {
    header nav ul li {
        font-size: 15px;
        font-weight: bold;
        padding:5px 20px 5px 20px;
    }
    .advantages_blocks div {
        width: 40% !important;
        text-align: center;
        margin: 15px;
    }
    [for = burger] {
        display: block;
        position: fixed;
        width: 30px;
        text-align: center;
        right: 50px;
        top: 15px;
        z-index: 11;
        transition: 1.3s;
    }
    #burger:checked + label + nav ul li {
        display: block;
        transition: 1.3s;
        z-index:100 ;
    }
    nav ul li {
        display: none;
    }
    header nav ul {
        display: block;
        text-align: center;
        transition: 1.3s;
    }
    header nav ul li:nth-last-child() {
        margin-bottom: 5px;
    }
     #logo {
        width: 80px !important;
        margin-left: 20px;
    }
    .cback {
        width: 100px;
        height: 100px;
        position: fixed;
        top:85%;
        left: 93%;
        transform: translate(-50%,-50%);
        cursor: pointer;
      }
}


.material-icons {
    display: none;
}

@media screen and (max-width: 850px) {
    .callback {
        font-size: 10px;
        width: 120px;
        left: 80%;
    }
    .callback_image img {
    max-width: 80px;
    }
    .modal_img {
        width: 220px !important;
        height: 170px !important;
        text-align: center;
    }
    .modal__text p {
        font-size: 17px !important;
    }
    .modal__text h1 {
        font-size: 26px !important;
        padding-left: 30px;
    }
    .price_header {
        font-size: 24px;
        text-align: center;
    }
    .ourservices_title {
        font-size: 24px;
        margin: 20px;
    }
    .mainquestion h1 {
        font-size: 24px;
    }
    .price-and-conditions {
        font-size: 24px;
    }
}

@media screen and (max-width: 800px) {
    .header_bg_photo {
        font-size: 26px;
        letter-spacing: 1.7px
    }.advantages_blocks div p {
        font-size: 17px;
    }
    td p {
        font-size: 17px;
    }
    .mainquestion h1 {
        font-size: 20px;
        margin-bottom: 0px;
    }
    .ourservices_title {
        font-size: 22px;
    }
    .price_header {
        font-size: 22px;
        margin-bottom: 0px;
    }
    .price-and-conditions {
        font-size: 22px;
        margin-bottom: 0px;
        text-align: center;
        padding-left: 15px;
    }
    .dogovor {
        font-size: 20px;
    }
    .srokdogovora {
        font-size: 22px;
    }
    .reiBRIKg-title {
        font-size: 22px !important;
        color: black !important;
    }
    .contacts_title h1 {
        font-size: 22px;
    }
    .algoraboty {
        font-size: 22px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 750px) {
    .header_bg_photo {
        font-size: 26px;
        letter-spacing: 1.7px
    }
    .advantages_blocks div {
        border: 1px solid gray;
        width: 60% !important;
        text-align: center;
    }
    .modal__text p {
        font-size: 14px;
    }
    .cback {
        width: 100px;
        height: 100px;
        position: fixed;
        top:85%;
        left: 90%;
        transform: translate(-50%,-50%);
        cursor: pointer;
      }
      .modal__text h1 {
          font-size: 22px !important;
      }
}

@media screen and (max-width: 652px) {
    .header_bg_photo {
        font-size: 26px;
        letter-spacing: 1.7px
    }
    .modal_nynya_grud_li {
        text-align: -webkit-match-parent;
        font-size: 12px !important;
        padding-left: 30px !important;
    }
    .footer div:nth-child(1) {
        padding-bottom: 5px;
    }
    .logofooter  {
        font-size: 15px ;
    }
    .footer-items li { 
        font-size: 15px;
        border: none !important;
        padding: 0px 5px !important;
    }

}

@media screen and (max-width: 600px) {
    .header_bg_photo {
        font-size: 26px;
        letter-spacing: 1.7px
    }
    #logo {
        width: 75px !important;
    }
}

@media screen and (max-width: 540px) {
    .header_bg_photo {
        font-size: 22px;
        letter-spacing: 1.2px;  
        padding: 0px;
    }
    .modal__text p {
        font-size: 15px !important;
        padding-left: 0px;
    }
     .modal_img {
        margin-left: 20%;
     }
     .modal__text h1 {
         /* text-align: center; */
         padding-left: 0px;
     }
     .dogovor{
        text-align: justify;
        margin: 10px 10%;
     }
     .contract{
        text-align: justify;
        margin: 10px 10%;
     }
     .smm_items li{
        position: relative;
        display: inline;
        padding: 5px;
        right: 45px;
    }
     .adress_smm{
        display: block;
    } 
    .modal_sidelka_li {
        font-size: 15px !important;
    }
    .modal_driver_li {
        font-size: 15px !important;
    }
    .footer div:nth-child(1) {
        padding-bottom: 5px;
    }
    .logofooter  {
        font-size: 13px ;
        padding-top: 3px;
    }
    .footer {
        padding: 0px !important;
    }
    .footer-items li { 
        font-size: 12px;
        border: none !important;
        padding: 5px 3px !important;
    }


}
@media screen and (max-width: 450px) {
    .header_bg_photo {
        font-size: 20px;
        letter-spacing: 1.2px;
    }
    .header_bg_photo {
        text-align: center;
    }
    .callback {
        left: 67%;
    }
    .callback_image img {
    max-width: 100px;
    }
    .callback p {
    padding: 4px;
    }
    .advantages_blocks div p {
        font-size: 14px;
    }
    td p {
        font-size: 15px;
    }
    .mainquestion h1 {
        font-size: 20px;
        margin-bottom: 0px;
    }
    .ourservices_title {
        font-size: 20px;
    }
    .price_header {
        font-size: 20px;
        margin-bottom: 0px;
    }
    .price-and-conditions {
        font-size: 20px;
        margin-bottom: 0px;
        text-align: center;
        padding-left: 15px;
    }
    .dogovor {
        font-size: 17px;
    }
    .srokdogovora {
        font-size: 20px;
    }
    .review-title {
        font-size: 20px !important;
        color: black !important;
    }
    .contacts_title h1 {
        font-size: 20px;
    }
    .algoraboty {
        font-size: 20px;
        margin-bottom: 30px;
    }
}

